<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Mecanicos</title>

  <style>
    .container-fluid{
        height: 75px;
    }

    .table th{
        text-align: center;
    }
  </style>
  
</head>

<body>
    <div class="container-fluid" style="background-color: blue" class="row justify-content-center justify-content-md-start">
        <center>
            <h1>Lista de Mecanicos</h1>
        </center>
    </div>

    <div class="p-3 mb-2 bg-info text-white">
        <center>
            <button type="button" class="btn btn-dark" onclick="location.href = 'http://127.0.0.1:3333'">Regresar</button>
            <button type="button" class="btn btn-success" onclick="location.href = 'http://127.0.0.1:3333/mecanicore/crear'">Agregar</button><br><br><br>
            
            <table class="table table-bordered table-dark">
                <thead>      
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Direccio</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Costo por Hora</th>
                        <th scope="col">categoria</th>
                        <th scope="col">Eliminar</th>
                        <th scope="col">Editar</th>
                    </tr>
                    @each(mecanicore in mecanicore)
                </thead>
                <tbody>
                    <tr>
                        <th>{{mecanicore.nombre}}</th>
                        <th>{{mecanicore.direccion}}</th>
                        <th>{{mecanicore.telefono}}</th>
                        <th>{{mecanicore.costoxhora}}</th>
                        <th>{{mecanicore.categoria}}</th>
                        <th><button type="button" class="btn btn-danger" onclick="eliminar({{mecanicore.id}})">Eliminar</button></th>
                        <th><button type="button" class="btn btn-warning" onclick="editar({{mecanicore.id}})">Editar</button></th>
                    </tr>
                    @endeach
                </tbody>
            </table>
        </center>
    </div>
</body>

<script>
    function eliminar(num){
        location.href = "http://127.0.0.1:3333/mecanicore/eliminar/"+num;
    }

    function editar(num){
        location.href = "http://127.0.0.1:3333/mecanicore/editar/"+num;
    }
</script>
</html>