<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agregar Repuesto</title>
    <style>
        .form-row {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        }
    </style>
</head>
    <div class="p-3 mb-2 bg-info text-white">
        <center>
            <h1>Agregar Nuevo Repuesto</h1>
            <form action="http://127.0.0.1:3333/repuesto/crear" method="POST">
                <div class="form-row">
                  <div>
                    <label for="inputDescripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" placeholder="Descripcion">
                    <br>
                    <label for="inputCostounit">Costo Unit</label>
                    <input type="text" class="form-control" name="costounit" placeholder="Costo unit">
                    <br>
                    <label for="inputPreciounit">Precio Unit</label>
                    <input type="tex" class="form-control" name="preciounit" placeholder="precio unit">
                    <br>
                    <label for="inputImpparcial">Imp Parcial</label>
                    <input type="text" class="form-control" name="imp_parcial" placeholder="imp parcial">
                    <br>
                    <select name="hojaparte_id">
                        @each(hojaparte in hojaparte)
                            <option value="{{hojaparte.id}}" name="{{hojaparte.concepto}}">{{hojaparte.concepto}}<option>
                        @endeach
                    </select>
                    <br><br>
                    <select name="hojaparte_idmec">
                            @each(hojaparte2 in hojaparte2)
                                <option value="{{hojaparte2.mecanicore_id}}" name="{{hojaparte2.mecanicore.nombre}}">{{hojaparte2.mecanicore.nombre}}<option>
                            @endeach
                        </select>
                    <br><br>
                    <button type="button" class="btn btn-danger" onclick="location.href = 'http://127.0.0.1:3333/repuesto'">Cancelar</button>
                    <button type="submit" class="btn btn-success">Agregar</button>
                  </div>
                </div>
              </form>
        </center>
    </div>
<body>
    
</body>
</html>